@model web2Project.Models.Item
@{
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
	body {
		background-image: url('/images/pharmacybg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.card {
		background-color: rgba(33, 37, 41, 0.85);
		padding: 40px;
		border-radius: 15px;
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
		color: white;
	}
</style>

<div class="card col-md-7 mx-auto mt-5">

	<h1 class="text-center">Item Details</h1>
	<hr />

	<dl class="row">
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Price)
		</dd>

		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Discount)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Discount)
		</dd>

		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Category)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Category)
		</dd>

		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Quantity)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Quantity)
		</dd>

		<dt class="col-sm-3">
			Product Image
		</dt>
		<dd class="col-sm-9">
			<img src="~/images/@Model.ImgFile" height="100" />
			<br />@Model.ImgFile
		</dd>
	</dl>

	<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
		<a asp-action="Edit" class="btn btn-warning px-4" asp-route-id="@Model?.Id">Edit</a>
		<a asp-action="Index" class="btn btn-secondary px-4">Back to List</a>
	</div>

</div>

